<!DOCTYPE html>
<html lang="en">
  <head>
    <title>31 | demaree • me</title>
    <link href="<%= asset_path "thirty_one.css" %>" rel="stylesheet">
    <script type="text/javascript" src="http://use.typekit.com/kgz0gmz.js"></script><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="<%= asset_path("application.js") %>" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <header class="banner">
        <div class="big-logo">
          <img src="http://placehold.it/150x150">
        </div>
        <h1>Come celebrate 31 years of social awkwardness.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
      </header>
      
      <form action="<%= @party.persisted? ? url("/parties/#{@party.id}") : url("/parties") %>" method="post">
        <section class="row email-section">
          <div class="span4 offset1 section-info">
            <h2>What&rsquo;s your email?</h2>
            <p class="section-notes">Further spam related to this birthday will be sent <em>only</em> to the email address you provide here.</p>
          </div>
          <div class="span10 section-body">
            <input type="text" name="party[email]" class="xlarge span7" placeholder="gene@kissarmy.net" value="<%= @party.email %>">
            <p class="help-block">This field is <strong>required</strong>. It <strong>must</strong> be a valid email address. Cookies <strong>are</strong> delicious.</p>
          </div>
        </section>
        
        <div class="divider">
          <img src="http://placehold.it/200x40">
        </div>
        
        <section class="row">
          <div class="span4 offset1 section-info">
            <h2>When are you free?</h2>
            <p class="help-block">You <strong>must</strong> choose at least one time.</p>
            <p class="section-notes">Check all the times you&rsquo;re available to par-tay. If you&rsquo;re not sure feel free to leave a box unchecked. You can also come back and change your answers later when you're more sure.</p>
          </div>
          
          <div class="span10">
            <table class="datetimes">
              <thead>
                <tr>
                  <% @days.each do |day| %>
                  <th class="day-header">
                    <span class="day-of-week"><%= day.strftime("%A") %></span>
                    <time datetime="<%= day.strftime("%Y-%m-%d") %>"><%= day.strftime("%m/%e").gsub(/ /,"") %></time>
                  </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% [6,8,10].each do |hour| %>
                  <tr>
                    <% @days.each do |day| %>
                    <td data-bind="css: { 'checked': (bits().indexOf('<%= datetime_key_path(day, hour) %>') > -1) }">
                      <label>
                        <input type="checkbox" name="party[bits][]" value="<%= datetime_key_path(day, hour) %>" data-bind="checked: bits" <%= 'checked' if @party.bits.include?(datetime_key_path(day, hour)) %>>
                        <%= time_range(hour) %>
                      </label>
                    </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>          
        </section>
        
        <div class="divider">
          <img src="http://placehold.it/200x40">
        </div>
        
        <section class="row places-section">
          <div class="span4 offset1 section-info">
            <h2>What sounds good?</h2>
            <p class="section-notes">To get a sense of what people are up for, so I can decide what the hell I want to <em>do</em> on my birthday, please check any of the places or activities you're interested in. There is also a write-in area at the bottom, to suggest places/activities that aren't listed.</p>
            <p class="section-notes">This is not voting <em>per se</em>; it's more like a way for me to know before inviting all of you to (for example) a crazy molecular cocktail bar or Michelin-starred pig-eteria whether that kind of thing will delight or disgust my friends.</p>
          </div>

          <div class="span10 section-body">
            <div class="places-list">
              <% %w(dinner drinks activities).each do |namespace| %>
                <div class="places-list-section">
                  <h3><%= namespace.capitalize %></h3>
                  <ul class="unstyled places">
                    <% @bits[namespace].each do |key, name| %>
                      <li>
                        <label data-bind="css: { 'checked': (bits().indexOf('<%= namespace %>.<%= key %>') > -1) }">
                          <input name="party[bits][]" type="checkbox" value="<%= namespace %>.<%= key %>" data-bind="checked: bits" <%= 'checked' if @party.bits.include?("#{namespace}.#{key}") %>>
                          <%= name.gsub('&', '<span class="amp">&amp;</span>') %>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              
              <div class="places-list-section">
                <h3>Other ideas?</h3>
                <div class="notes">
                  <textarea name="party[notes]" class="span8" rows="8"><%= @party.notes %></textarea>
                </div>
              </div>
              
            </div>
          </div>
        </section>
        
        <div class="divider">
          <img src="http://placehold.it/200x40">
        </div>

        <div class="actions">
          <button type="submit" class="btn primary">Save the date</button>
          <button type="button" class="btn info">WTF?</button>
        </div>
      </form>
      
    </div>
    <script type="text/javascript">
    var viewModel = {
      bits: ko.observableArray(<%= @party.bits.to_json %>)
    };
    // viewModel.bits().push('datetime.1203_8pm')
    ko.applyBindings(viewModel);
    </script>
    
    <%#= asset_path("application.js") %>
  </body>
</html>